<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alessandro.loginandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".Activity.OtherProfileActivity" />
        <activity
            android:name=".Activity.FollowActivity"
            android:label="@string/title_activity_follow" />
        <activity android:name=".Activity.testMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        />
        <activity android:name=".Activity.testOtherProfileActivity" />
        <activity
            android:name=".Activity.testSearchActivity"
            android:label="@string/title_activity_test_search" />
        <activity android:name=".Activity.test.FriendsActivity" />
        <activity
            android:name=".Activity.testFollowActivity"
            android:label="@string/title_activity_test_follow" />
        <activity
            android:name=".Activity.testProfileActivity"
            android:label="@string/title_activity_test_profile" />
        <activity
            android:name=".Activity.MessageActivity"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting">
        </activity>

    </application>

</manifest>
