<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alessandro.loginandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>




        </activity>
        <activity
            android:name=".Activity.RegisterWorkerActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activity.RegisterVisitorActivity" />
        <activity android:name=".Activity.MainActivity">

        </activity>
        <activity android:name=".Activity.OtherProfileActivity" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_test_search"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".Activity.RelationActivity"
            android:label="@string/title_activity_test_follow" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_test_profile" />
        <activity
            android:name=".Activity.MessageActivity"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting">
        </activity>

    </application>

</manifest>
